<div class="container-fluid view-area">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
                <div *ngIf="isError" class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> {{errorMessage}}
                  </div>
              <h5 class="card-title text-center">Register Organization</h5>
      
              <form (ngSubmit)="registerUser()" class="example-form" [formGroup]='usersForm'>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Choose/Enter your Organization" [matAutocomplete]="auto"  formControlName='userInput'>
                </mat-form-field>
              
                <mat-autocomplete #auto="matAutocomplete" class="org-autocomplete" [displayWith]="displayFn">
                  <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
                  <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let organization of filteredOrganizations" [value]="organization">
                      <span>{{ organization.organizationName }}</span>
                      <small> | ID: {{organization.id}}</small>
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
      
                <!--<div *ngIf="isOrgTypeVisible" class="form-group">
                  <label for="organizationType">Organization Type</label>
                  <select class="form-control" id="organizationType" required formControlName="organizationType">
                    <option *ngFor="let oType of organizationTypes" [value]="oType.id">{{oType.typeName}}</option>
                  </select>
                </div>-->
                <button [class.disable]="isProcessing" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{{btnRegisterText}}</button>
              </form>
      
            </div>
          </div>
        </div>
      </div>
</div>
