<div class="container-fluid view-area">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active btn-info" data-toggle="tab" [routerLink]="['/organizations']">Organizations List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" data-toggle="tab" href="#menu1">Create New</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter organization name" [(ngModel)]="criteria" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-info" (click)="searchOrganizations()" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center" *ngIf="isLoading">
    <div class="col-md-12">
      <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading" class="row">
    <div class="col margin-top-10">
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Id</th>
          <th>Organization Name</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let org of organizationsList | paginate: { itemsPerPage: 2, currentPage: p }">
          <td>{{org.id}}</td>
          <td>{{org.organizationName}}</td>
          <td>{{org.typeName}}</td>
          <td>
            <a title="Edit" (click)="edit(org.id)" class="btn btn-success"><i class="fa fa-edit color-white"></i></a>
          </td>
        </tr>
      </table>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>
</div>